// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: arial,
}

.coach {
  background-color: #FDFFDF,
}

.link {
  text-decoration: none;
  color: blue;
  border-left: solid 3px grey;
}
